"*":
  "advanced-open-file":
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-material-ui":
    fonts:
      useRobotoInUI: true
    panels:
      panelContrast: true
    tabs:
      showTabIcons: "Show on all tabs"
      tabMinWidth: true
      tabSize: "Small"
    treeView:
      compactTreeView: true
    ui:
      slimScrollbar: true
  "autocomplete-bibtex":
    bibtex: [
      "/Library/TeX/texbin/bibtex"
    ]
  "autocomplete-clang": {}
  "autocomplete-python":
    outputProviderErrors: true
    pythonPath: "/usr/local/bin/python"
    pythonPaths: "/usr/local/bin/python"
    useSnippets: "required"
  "clang-format":
    executable: "/usr/local/bin/clang-format"
    formatCPlusPlusOnSave: false
    style: "Google"
  core:
    automaticallyUpdate: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "TARGETS"
        "cconf"
        "cinc"
        "ctw"
        "mcconf"
        "tw"
        "thrift-cvalidator"
        "BUCK"
      ]
    disabledPackages: [
      "git-control"
      "git-diff-details"
      "fonts"
      "you-complete-me"
      "fuzzy-finder"
      "metrics"
      "tree-view"
    ]
    packagesWithKeymapsDisabled: [
      "goto"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dragonxlwang-monokai"
    ]
  "cursor-history":
    searchAllPanes: false
  docblockr:
    auto_add_method_tag: true
  editor:
    autoIndentOnPaste: false
    fontFamily: "monaco"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "37115345-b4cc-8e90-d39d-02aef4fc2d04"
  "file-icons":
    forceShow: true
  "gist-it":
    openAfterCreate: true
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected":
    highlightBackground: true
    ignoreCase: true
    lightTheme: true
  latex:
    openResultAfterBuild: false
  "latex-plus":
    bibtexEnabled: true
    texBin: "/Library/TeX/texbin/tex"
    texInputs: "/Users/xiaolong/texmf"
  linter:
    errorPanelHeight: 750
    ignoreVCSIgnoredFiles: false
    showErrorTabLine: true
    statusIconScope: "File"
  "linter-chktex":
    executablePath: "/Library/TeX/texbin/chktex"
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
    ignoreErrorCodes: [
      "C901"
      "E302"
      "D100"
      "D101"
      "D102"
      "D103"
      "D104"
      "D105"
      "D200"
      "D201"
      "D202"
      "D203"
      "D204"
      "D205"
      "D208"
      "D209"
      "D300"
      "D400"
      "D401"
      "D402"
      "E123"
      "E226"
      "E241"
      "N802"
      "N803"
      "N806"
      "N812"
    ]
    maxLineLength: 80
  "linter-pep8":
    ignoreErrorCodes: [
      "E302"
    ]
    maxLineLength: 80
    pep8ExecutablePath: "/usr/local/bin/pep8"
  "linter-python-pep8":
    ignoreErrorCodes: "W292"
    pep8DirToExecutable: "/usr/local/bin/"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "minimap-selection":
    highlightCursorsLines: true
  nuclide:
    installRecommendedPackages: true
    "nuclide-arcanist":
      blacklistedLinters: [
        "FBFLOW"
        "FBRELAYFLOW"
        "FBHACK"
        "PEP8"
        "FLAKE8"
        "FlowLint"
      ]
    "nuclide-remote-projects":
      connectionProfiles: [
        {
          deletable: true
          displayTitle: "www"
          params:
            authMethod: "PRIVATE_KEY"
            cwd: "/home/xlwang/www"
            pathToPrivateKey: "/Users/xlwang/.ssh/fb_id_rsa"
            remoteServerCommand: ""
            server: "our.xlwang.sb.facebook.com"
            sshPort: "22"
            username: "xlwang"
          saveable: true
        }
      ]
      shutdownServerAfterDisconnection: false
  "one-dark-ui":
    layoutMode: "Compact"
  "python-autopep8":
    autopep8Path: "/usr/local/bin/autopep8"
    formatOnSave: true
    maxLineLength: 80
  "spell-check":
    grammars: [
      "text.tex.latex"
    ]
  tabs:
    enableVcsColoring: false
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "vim-mode":
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  "vim-surround":
    surroundCommand: "S"
  welcome:
    showOnStartup: false
  "you-complete-me":
    extraConfigGloblist: [
      "~/workspace/*"
      "~/Dropbox/workspace/*"
    ]
    pythonExecutable: "/usr/local/bin/python"
    ycmdPath: "/Users/xiaolong/.vim/bundle/YouCompleteMe/third_party/ycmd"
