"*":
  "advanced-open-file":
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-beautify": {}
  "atom-material-ui":
    fonts:
      useRobotoInUI: true
    panels:
      panelContrast: true
    tabs:
      showTabIcons: "Show on all tabs"
      tabMinWidth: true
      tabSize: "Small"
    treeView:
      compactTreeView: true
    ui:
      slimScrollbar: true
  "atom-terminal": {}
  "autocomplete-bibtex":
    bibtex: [
      "/Library/TeX/texbin/bibtex"
    ]
  "autocomplete-clang": {}
  "autocomplete-plus": {}
  "autocomplete-python":
    outputProviderErrors: true
    pythonPath: "/usr/local/bin/python"
    pythonPaths: "/usr/local/bin/python"
    useSnippets: "required"
  autosave: {}
  "block-cursor":
    global:
      blinkOff: {}
      blinkOn:
        backgroundColor:
          alpha: 1
          blue: 17
          green: 37
          red: 42
        borderColor:
          alpha: 1
          blue: 76
          green: 105
          red: 249
      cursorLineFix: true
  "clang-format":
    executable: "/usr/local/bin/clang-format"
    formatCPlusPlusOnSave: false
    style: "Google"
  "clipboard-plus": {}
  core:
    disabledPackages: [
      "selection-highlight"
      "indent-guide-improved"
      "block-cursor"
      "git-grep"
      "nuclide-remote-projects"
      "remote-edit"
      "nuclide-file-tree"
      "linter-pep8"
      "atom-terminal"
      "git-control"
      "git-diff-details"
      "fonts"
      "vim-mode-plus"
      "python-tools"
      "you-complete-me"
    ]
    packagesWithKeymapsDisabled: [
      "goto"
    ]
    themes: [
      "one-dark-ui"
      "seti-syntax"
    ]
  docblockr:
    auto_add_method_tag: true
  editor:
    autoIndentOnPaste: false
    fontFamily: "monaco"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "37115345-b4cc-8e90-d39d-02aef4fc2d04"
  "file-icons":
    forceShow: true
  "find-and-replace": {}
  "formatter-clang-format": {}
  "gist-it":
    openAfterCreate: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-history": {}
  "git-log": {}
  "git-plus": {}
  "git-projects": {}
  "git-status": {}
  "highlight-selected":
    highlightBackground: true
    ignoreCase: true
    lightTheme: true
  "isotope-ui": {}
  latex:
    openResultAfterBuild: false
  "latex-plus":
    bibtexEnabled: true
    texBin: "/Library/TeX/texbin/tex"
    texInputs: "/Users/xiaolong/texmf"
  latexer: {}
  linter:
    errorPanelHeight: 46
    showErrorTabLine: true
    statusIconScope: "File"
  "linter-chktex":
    executablePath: "/Library/TeX/texbin/chktex"
  "linter-clang": {}
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
    ignoreErrorCodes: [
      "C901"
      "E302"
      "D100"
      "D101"
      "D102"
      "D103"
      "D104"
      "D105"
      "D200"
      "D201"
      "D202"
      "D203"
      "D204"
      "D205"
      "D208"
      "D209"
      "D300"
      "D400"
      "D401"
      "D402"
      "E123"
      "E226"
      "E241"
      "N802"
      "N803"
      "N806"
      "N812"
    ]
    maxLineLength: 80
  "linter-pep8":
    ignoreErrorCodes: [
      "E302"
    ]
    maxLineLength: 80
    pep8ExecutablePath: "/usr/local/bin/pep8"
  "linter-python-pep8":
    ignoreErrorCodes: "W292"
    pep8DirToExecutable: "/usr/local/bin/"
  "merge-conflicts": {}
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "minimap-selection":
    highlightCursorsLines: true
  nuclide:
    remoteProjectsConfig: []
  "one-dark-ui":
    layoutMode: "Compact"
  "pdf-view": {}
  "python-autopep8":
    autopep8Path: "/usr/local/bin/autopep8"
    formatOnSave: true
    maxLineLength: 80
  "python-tools":
    pythonPath: "/usr/local/bin/python"
  "python-yapf":
    formatOnSave: true
    yapfPath: "/usr/local/bin/yapf"
    yapfStyle: "{based_on_style: google, column_limit: 80}"
  "remote-edit": {}
  "remote-sync": {}
  "save-session":
    dataSaveFolder: "/Users/xiaolong/.atom/packages/save-session/projects"
    skipSavePrompt: false
  "selection-highlight":
    highlightBackground: true
    lightTheme: true
  "spell-check":
    grammars: [
      "text.tex.latex"
    ]
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "tree-view-git-status": {}
  "tree-view-open-files": {}
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    showHoverOnOperate: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  "vim-surround":
    surroundCommand: "S"
  welcome:
    showOnStartup: false
  "you-complete-me":
    pythonExecutable: "/usr/local/bin/python"
    ycmdPath: "/Users/xiaolong/.vim/bundle/YouCompleteMe/third_party/ycmd"
