# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'atom-text-editor.vim-mode.normal-mode':
  'ctrl-a': 'unset!'
'atom-text-editor':
  'ctrl-a': 'unset!'

'atom-text-editor.vim-mode.insert-mode:not(.mini)':
  'j k': 'vim-mode:reset-normal-mode'

'atom-text-editor.vim-mode.visual-mode:not(.mini)':
  '; ;': 'vim-mode:activate-normal-mode'
  ', ,': 'vim-mode:reset-normal-mode'

'.platform-darwin':
  'ctrl-a m h':  'pane:split-left-moving-current-tab'
  'ctrl-a m l': 'pane:split-right-moving-current-tab'
  'ctrl-a m k':    'pane:split-up-moving-current-tab'
  'ctrl-a m j':  'pane:split-down-moving-current-tab'

  'ctrl-a n h':  'pane:split-left-creating-new-file'
  'ctrl-a n l': 'pane:split-right-creating-new-file'
  'ctrl-a n k':    'pane:split-up-creating-new-file'
  'ctrl-a n j':  'pane:split-down-creating-new-file'

  'ctrl-a d h':  'pane:split-left'
  'ctrl-a d l': 'pane:split-right'
  'ctrl-a d k':    'pane:split-up'
  'ctrl-a d j':  'pane:split-down'

  'ctrl-a m m':  'pane:merge-all-panes'

'body':
  'ctrl-a j': 'window:focus-pane-below'
  'ctrl-a k': 'window:focus-pane-above'
  'ctrl-a l': 'window:focus-pane-on-right'
  'ctrl-a h': 'window:focus-pane-on-left'
  'ctrl-a ctrl-j': 'pane:show-previous-item'
  'ctrl-a ctrl-k': 'pane:show-next-item'

'.advanced-open-file atom-text-editor':
  'ctrl-j': 'advanced-open-file:move-cursor-down'
  'ctrl-k': 'advanced-open-file:move-cursor-up'
  'ctrl-l': 'unset!'
  'ctrl-x': 'advanced-open-file:delete-path-component'
  'enter' : 'advanced-open-file:confirm-selected-or-first'

'.platform-darwin atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-p': 'clipboard-plus:toggle'
'.platform-darwin atom-text-editor:not([mini])':
  'cmd-shift-v': 'clipboard-plus:toggle'
