[user]
	email = xlwang@fb.com
	name = Xiaolong Wang
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[github]
	user = dragonxlwang
[color "diff"]
  meta = yellow bold
